src/main/resources/SAPInfo/SAPForTCProxy.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <wsdl:types>
      <xsd:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
         <xsd:simpleType name="byte16">
            <xsd:restriction base="xsd:base64Binary">
               <xsd:maxLength value="16"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char1">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char10">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="10"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char18">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="18"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char220">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="220"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char23">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="23"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char3">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="3"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char4">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="4"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char40">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="40"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char50">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="50"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char6">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="6"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char9">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="9"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="unit3">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="3"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char30">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="30"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char70">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="70"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char300">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="300"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="date10">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="10"/>
               <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char12">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="12"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char72">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="72"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char8">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="8"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="quantum9.3">
            <xsd:restriction base="xsd:decimal">
               <xsd:totalDigits value="9"/>
               <xsd:fractionDigits value="3"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="ZPP_TCI001">
            <xsd:sequence>
               <xsd:element name="P_UID" type="tns:byte16"/>
               <xsd:element name="P_ITEM" type="tns:char6"/>
               <xsd:element name="P_WERKS" type="tns:char4"/>
               <xsd:element name="P_ACTIONID" type="tns:char1"/>
               <xsd:element name="P_MATNR" type="tns:char40"/>
               <xsd:element name="P_BISMT" type="tns:char40"/>
               <xsd:element name="P_MAKTX" type="tns:char40"/>
               <xsd:element name="P_MAKTX_E" type="tns:char40"/>
               <xsd:element name="P_MEINS" type="tns:unit3"/>
               <xsd:element name="P_MTART" type="tns:char4"/>
               <xsd:element name="P_MATKL" type="tns:char9"/>
               <xsd:element name="P_BESKZ" type="tns:char1"/>
               <xsd:element name="P_VIN" type="tns:char18"/>
               <xsd:element name="P_COLOR" type="tns:char10"/>
               <xsd:element name="P_BRGEW" type="tns:char23"/>
               <xsd:element name="P_LABEL" type="tns:char1"/>
               <xsd:element name="P_RULES" type="tns:char1"/>
               <xsd:element name="P_IMPOT" type="tns:char1"/>
               <xsd:element name="P_DELETE" type="tns:char1"/>
               <xsd:element name="P_MRPC" type="tns:char3"/>
               <xsd:element name="P_SJBS" type="tns:char1"/>
               <xsd:element name="P_RESERVE1" type="tns:char50"/>
               <xsd:element name="P_RESERVE2" type="tns:char50"/>
               <xsd:element name="P_RESERVE3" type="tns:char50"/>
               <xsd:element name="P_RESERVE4" type="tns:char50"/>
               <xsd:element name="P_RESERVE5" type="tns:char50"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZPP_TCO001">
            <xsd:sequence>
               <xsd:element name="P_GUID" type="tns:byte16"/>
               <xsd:element name="P_TYPE" type="tns:char1"/>
               <xsd:element name="P_MESSAGE" type="tns:char220"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCI001">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCI001"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCO001">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCO001"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZPP_TCI002">
            <xsd:sequence>
               <xsd:element name="P_PACKNO" type="tns:char40"/>
               <xsd:element name="P_ITEM" type="tns:char6"/>
               <xsd:element name="P_ACTIONID" type="tns:char1"/>
               <xsd:element name="P_ATNAM" type="tns:char30"/>
               <xsd:element name="P_ATBEZ" type="tns:char30"/>
               <xsd:element name="P_ATWRT" type="tns:char70"/>
               <xsd:element name="P_ATWTB" type="tns:char70"/>
               <xsd:element name="P_RESERVE1" type="tns:char50"/>
               <xsd:element name="P_RESERVE2" type="tns:char50"/>
               <xsd:element name="P_RESERVE3" type="tns:char50"/>
               <xsd:element name="P_RESERVE4" type="tns:char50"/>
               <xsd:element name="P_RESERVE5" type="tns:char50"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZPP_TCO002">
            <xsd:sequence>
               <xsd:element name="P_PACKNO" type="tns:char40"/>
               <xsd:element name="P_TYPE" type="tns:char1"/>
               <xsd:element name="P_MESSAGE" type="tns:char220"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCI002">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCI002"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCO002">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCO002"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZPP_TCI003">
            <xsd:sequence>
               <xsd:element name="P_PACKNO" type="tns:char40"/>
               <xsd:element name="P_ITEM" type="tns:char40"/>
               <xsd:element name="P_ACTIONID" type="tns:char1"/>
               <xsd:element name="P_MATNR" type="tns:char40"/>
               <xsd:element name="P_ATNAM" type="tns:char30"/>
               <xsd:element name="P_ATWRT" type="tns:char70"/>
               <xsd:element name="P_CLASS" type="tns:char18"/>
               <xsd:element name="P_RESERVE1" type="tns:char50"/>
               <xsd:element name="P_RESERVE2" type="tns:char50"/>
               <xsd:element name="P_RESERVE3" type="tns:char50"/>
               <xsd:element name="P_RESERVE4" type="tns:char50"/>
               <xsd:element name="P_RESERVE5" type="tns:char50"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZPP_TCO003">
            <xsd:sequence>
               <xsd:element name="P_PACKNO" type="tns:char40"/>
               <xsd:element name="P_TYPE" type="tns:char1"/>
               <xsd:element name="P_MESSAGE" type="tns:char220"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCI003">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCI003"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCO003">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCO003"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZPP_TCI004">
            <xsd:sequence>
               <xsd:element name="P_PACKNO" type="tns:char40"/>
               <xsd:element name="P_ITEM" type="tns:char6"/>
               <xsd:element name="P_ACTIONID" type="tns:char1"/>
               <xsd:element name="P_KNNAM" type="tns:char30"/>
               <xsd:element name="P_KNKTX" type="tns:char30"/>
               <xsd:element name="P_KNART" type="tns:char4"/>
               <xsd:element name="P_KNSTA" type="tns:char1"/>
               <xsd:element name="P_KNEDT" type="tns:date10"/>
               <xsd:element name="P_KNADT" type="tns:date10"/>
               <xsd:element name="P_KNNAMCODE" type="tns:char300"/>
               <xsd:element name="P_RESERVE1" type="tns:char50"/>
               <xsd:element name="P_RESERVE2" type="tns:char50"/>
               <xsd:element name="P_RESERVE3" type="tns:char50"/>
               <xsd:element name="P_RESERVE4" type="tns:char50"/>
               <xsd:element name="P_RESERVE5" type="tns:char50"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZPP_TCO004">
            <xsd:sequence>
               <xsd:element name="P_PACKNO" type="tns:char40"/>
               <xsd:element name="P_TYPE" type="tns:char1"/>
               <xsd:element name="P_MESSAGE" type="tns:char220"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCI004">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCI004"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCO004">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCO004"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZPP_TCI005">
            <xsd:sequence>
               <xsd:element name="P_PACKNO" type="tns:char40"/>
               <xsd:element name="P_ITEM" type="tns:char6"/>
               <xsd:element name="P_ACTIONID" type="tns:char1"/>
               <xsd:element name="P_AENNR" type="tns:char12"/>
               <xsd:element name="P_AETXT" type="tns:char40"/>
               <xsd:element name="P_PCNNO" type="tns:char72"/>
               <xsd:element name="P_WERKS" type="tns:char4"/>
               <xsd:element name="P_USE" type="tns:char1"/>
               <xsd:element name="P_MATNR" type="tns:char40"/>
               <xsd:element name="P_BASEQ" type="tns:char23"/>
               <xsd:element name="P_SORTF" type="tns:char4"/>
               <xsd:element name="P_MATNR_C" type="tns:char40"/>
               <xsd:element name="P_MENGE" type="tns:char23"/>
               <xsd:element name="P_MEINS" type="tns:unit3"/>
               <xsd:element name="P_LOCATION" type="tns:char4"/>
               <xsd:element name="P_KNBLK" type="tns:char30"/>
               <xsd:element name="P_SUBPR" type="tns:char1"/>
               <xsd:element name="P_ZPWZ" type="tns:char8"/>
               <xsd:element name="P_WORKS" type="tns:char10"/>
               <xsd:element name="P_STATION" type="tns:char10"/>
               <xsd:element name="P_GUID" type="tns:char40"/>
               <xsd:element name="P_RESERVE1" type="tns:char50"/>
               <xsd:element name="P_RESERVE2" type="tns:char50"/>
               <xsd:element name="P_RESERVE3" type="tns:char50"/>
               <xsd:element name="P_RESERVE4" type="tns:char50"/>
               <xsd:element name="P_RESERVE5" type="tns:char50"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZPP_TCO005">
            <xsd:sequence>
               <xsd:element name="P_PACKNO" type="tns:char40"/>
               <xsd:element name="P_TYPE" type="tns:char1"/>
               <xsd:element name="P_MESSAGE" type="tns:char220"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCI005">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCI005"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCO005">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCO005"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZPP_TCI006">
            <xsd:sequence>
               <xsd:element name="P_PACKNO" type="tns:char40"/>
               <xsd:element name="P_ITEM" type="tns:char6"/>
               <xsd:element name="P_ACTIONID" type="tns:char1"/>
               <xsd:element name="P_WERKS" type="tns:char4"/>
               <xsd:element name="P_MATNR" type="tns:char40"/>
               <xsd:element name="P_BASED" type="tns:char23"/>
               <xsd:element name="P_DATE" type="tns:date10"/>
               <xsd:element name="P_USE" type="tns:char1"/>
               <xsd:element name="P_STA" type="tns:char3"/>
               <xsd:element name="P_NUMBER" type="tns:char4"/>
               <xsd:element name="P_WORK" type="tns:char8"/>
               <xsd:element name="P_CON" type="tns:char4"/>
               <xsd:element name="P_ROUT" type="tns:char40"/>
               <xsd:element name="P_DATA1" type="tns:quantum9.3"/>
               <xsd:element name="P_DATA2" type="tns:quantum9.3"/>
               <xsd:element name="P_DATA3" type="tns:quantum9.3"/>
               <xsd:element name="P_DATA4" type="tns:quantum9.3"/>
               <xsd:element name="P_DATA5" type="tns:quantum9.3"/>
               <xsd:element name="P_DATA6" type="tns:quantum9.3"/>
               <xsd:element name="P_RESERVE1" type="tns:char50"/>
               <xsd:element name="P_RESERVE2" type="tns:char50"/>
               <xsd:element name="P_RESERVE3" type="tns:char50"/>
               <xsd:element name="P_RESERVE4" type="tns:char50"/>
               <xsd:element name="P_RESERVE5" type="tns:char50"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZPP_TCO006">
            <xsd:sequence>
               <xsd:element name="P_PACKNO" type="tns:char40"/>
               <xsd:element name="P_TYPE" type="tns:char1"/>
               <xsd:element name="P_MESSAGE" type="tns:char220"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCI006">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCI006"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCO006">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCO006"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZPP_TCI007">
            <xsd:sequence>
               <xsd:element name="P_PACKNO" type="tns:char40"/>
               <xsd:element name="P_ITEM" type="tns:char6"/>
               <xsd:element name="P_ACTIONID" type="tns:char1"/>
               <xsd:element name="P_MATNR" type="tns:char40"/>
               <xsd:element name="P_WERKS" type="tns:char4"/>
               <xsd:element name="P_ATNAM" type="tns:char30"/>
               <xsd:element name="P_ATWRT" type="tns:char70"/>
               <xsd:element name="P_RESERVE1" type="tns:char50"/>
               <xsd:element name="P_RESERVE2" type="tns:char50"/>
               <xsd:element name="P_RESERVE3" type="tns:char50"/>
               <xsd:element name="P_RESERVE4" type="tns:char50"/>
               <xsd:element name="P_RESERVE5" type="tns:char50"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZPP_TCO007">
            <xsd:sequence>
               <xsd:element name="P_PACKNO" type="tns:char40"/>
               <xsd:element name="P_TYPE" type="tns:char1"/>
               <xsd:element name="P_MESSAGE" type="tns:char220"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCI007">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCI007"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZPP_TCO007">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZPP_TCO007"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="ZPP_TC_SAP_001">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI001"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO001"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZPP_TC_SAP_001Response">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI001"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO001"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZPP_TC_SAP_002">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI002"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO002"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZPP_TC_SAP_002Response">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI002"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO002"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZPP_TC_SAP_003">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI003"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO003"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZPP_TC_SAP_003Response">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI003"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO003"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZPP_TC_SAP_004">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI004"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO004"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZPP_TC_SAP_004Response">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI004"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO004"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZPP_TC_SAP_005">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI005"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO005"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZPP_TC_SAP_005Response">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI005"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO005"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZPP_TC_SAP_006">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI006"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO006"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZPP_TC_SAP_006Response">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI006"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO006"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZPP_TC_SAP_007">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI007"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO007"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZPP_TC_SAP_007Response">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:TABLE_OF_ZPP_TCI007"/>
                  <xsd:element name="OUTPUT" type="tns:TABLE_OF_ZPP_TCO007"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="ZPP_TC_SAP_001">
      <wsdl:part name="parameters" element="tns:ZPP_TC_SAP_001"/>
   </wsdl:message>
   <wsdl:message name="ZPP_TC_SAP_001Response">
      <wsdl:part name="parameter" element="tns:ZPP_TC_SAP_001Response"/>
   </wsdl:message>
   <wsdl:message name="ZPP_TC_SAP_002">
      <wsdl:part name="parameters" element="tns:ZPP_TC_SAP_002"/>
   </wsdl:message>
   <wsdl:message name="ZPP_TC_SAP_002Response">
      <wsdl:part name="parameter" element="tns:ZPP_TC_SAP_002Response"/>
   </wsdl:message>
   <wsdl:message name="ZPP_TC_SAP_003">
      <wsdl:part name="parameters" element="tns:ZPP_TC_SAP_003"/>
   </wsdl:message>
   <wsdl:message name="ZPP_TC_SAP_003Response">
      <wsdl:part name="parameter" element="tns:ZPP_TC_SAP_003Response"/>
   </wsdl:message>
   <wsdl:message name="ZPP_TC_SAP_004">
      <wsdl:part name="parameters" element="tns:ZPP_TC_SAP_004"/>
   </wsdl:message>
   <wsdl:message name="ZPP_TC_SAP_004Response">
      <wsdl:part name="parameter" element="tns:ZPP_TC_SAP_004Response"/>
   </wsdl:message>
   <wsdl:message name="ZPP_TC_SAP_005">
      <wsdl:part name="parameters" element="tns:ZPP_TC_SAP_005"/>
   </wsdl:message>
   <wsdl:message name="ZPP_TC_SAP_005Response">
      <wsdl:part name="parameter" element="tns:ZPP_TC_SAP_005Response"/>
   </wsdl:message>
   <wsdl:message name="ZPP_TC_SAP_006">
      <wsdl:part name="parameters" element="tns:ZPP_TC_SAP_006"/>
   </wsdl:message>
   <wsdl:message name="ZPP_TC_SAP_006Response">
      <wsdl:part name="parameter" element="tns:ZPP_TC_SAP_006Response"/>
   </wsdl:message>
   <wsdl:message name="ZPP_TC_SAP_007">
      <wsdl:part name="parameters" element="tns:ZPP_TC_SAP_007"/>
   </wsdl:message>
   <wsdl:message name="ZPP_TC_SAP_007Response">
      <wsdl:part name="parameter" element="tns:ZPP_TC_SAP_007Response"/>
   </wsdl:message>
   <wsdl:portType name="SAPForTCProxyPortType">
      <wsdl:operation name="ZPP_TC_SAP_001">
         <wsdl:input message="tns:ZPP_TC_SAP_001" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_001:ZPP_TC_SAP_001Request"/>
         <wsdl:output message="tns:ZPP_TC_SAP_001Response" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP:ZPP_TC_SAP_001Response"/>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_002">
         <wsdl:input message="tns:ZPP_TC_SAP_002" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_002:ZPP_TC_SAP_002Request"/>
         <wsdl:output message="tns:ZPP_TC_SAP_002Response" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP:ZPP_TC_SAP_002Response"/>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_003">
         <wsdl:input message="tns:ZPP_TC_SAP_003" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_003:ZPP_TC_SAP_003Request"/>
         <wsdl:output message="tns:ZPP_TC_SAP_003Response" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP:ZPP_TC_SAP_003Response"/>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_004">
         <wsdl:input message="tns:ZPP_TC_SAP_004" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_004:ZPP_TC_SAP_004Request"/>
         <wsdl:output message="tns:ZPP_TC_SAP_004Response" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP:ZPP_TC_SAP_004Response"/>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_005">
         <wsdl:input message="tns:ZPP_TC_SAP_005" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_005:ZPP_TC_SAP_005Request"/>
         <wsdl:output message="tns:ZPP_TC_SAP_005Response" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP:ZPP_TC_SAP_005Response"/>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_006">
         <wsdl:input message="tns:ZPP_TC_SAP_006" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_006:ZPP_TC_SAP_006Request"/>
         <wsdl:output message="tns:ZPP_TC_SAP_006Response" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP:ZPP_TC_SAP_006Response"/>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_007">
         <wsdl:input message="tns:ZPP_TC_SAP_007" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_007:ZPP_TC_SAP_007Request"/>
         <wsdl:output message="tns:ZPP_TC_SAP_007Response" wsaw:Action="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP:ZPP_TC_SAP_007Response"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SAPForTCProxySoap11Binding" type="tns:SAPForTCProxyPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="ZPP_TC_SAP_001">
         <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_001:ZPP_TC_SAP_001Request" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_002">
         <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_002:ZPP_TC_SAP_002Request" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_003">
         <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_003:ZPP_TC_SAP_003Request" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_004">
         <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_004:ZPP_TC_SAP_004Request" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_005">
         <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_005:ZPP_TC_SAP_005Request" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_006">
         <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_006:ZPP_TC_SAP_006Request" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_007">
         <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_007:ZPP_TC_SAP_007Request" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="SAPForTCProxySoap12Binding" type="tns:SAPForTCProxyPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="ZPP_TC_SAP_001">
         <soap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_001:ZPP_TC_SAP_001Request" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_002">
         <soap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_002:ZPP_TC_SAP_002Request" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_003">
         <soap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_003:ZPP_TC_SAP_003Request" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_004">
         <soap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_004:ZPP_TC_SAP_004Request" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_005">
         <soap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_005:ZPP_TC_SAP_005Request" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_006">
         <soap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_006:ZPP_TC_SAP_006Request" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_007">
         <soap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPP_TC_SAP_007:ZPP_TC_SAP_007Request" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="SAPForTCProxyHttpBinding" type="tns:SAPForTCProxyPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="ZPP_TC_SAP_001">
         <http:operation location="ZPP_TC_SAP_001"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_002">
         <http:operation location="ZPP_TC_SAP_002"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_003">
         <http:operation location="ZPP_TC_SAP_003"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_004">
         <http:operation location="ZPP_TC_SAP_004"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_005">
         <http:operation location="ZPP_TC_SAP_005"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_006">
         <http:operation location="ZPP_TC_SAP_006"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ZPP_TC_SAP_007">
         <http:operation location="ZPP_TC_SAP_007"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SAPForTCProxy">
      <wsdl:port name="SAPForTCProxyHttpSoap11Endpoint" binding="tns:SAPForTCProxySoap11Binding">
         <soap:address location="http://10.0.6.71:8280/services/SAPForTCProxy.SAPForTCProxyHttpSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="SAPForTCProxyHttpsSoap11Endpoint" binding="tns:SAPForTCProxySoap11Binding">
         <soap:address location="http://10.0.6.71:8280/services/SAPForTCProxy.SAPForTCProxyHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="SAPForTCProxyHttpsSoap12Endpoint" binding="tns:SAPForTCProxySoap12Binding">
         <soap12:address location="http://10.0.6.71:8280/services/SAPForTCProxy.SAPForTCProxyHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="SAPForTCProxyHttpSoap12Endpoint" binding="tns:SAPForTCProxySoap12Binding">
         <soap12:address location="http://10.0.6.71:8280/services/SAPForTCProxy.SAPForTCProxyHttpSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="SAPForTCProxyHttpEndpoint" binding="tns:SAPForTCProxyHttpBinding">
         <http:address location="http://10.0.6.71:8280/services/SAPForTCProxy.SAPForTCProxyHttpEndpoint"/>
      </wsdl:port>
      <wsdl:port name="SAPForTCProxyHttpsEndpoint" binding="tns:SAPForTCProxyHttpBinding">
         <http:address location="http://10.0.6.71:8280/services/SAPForTCProxy.SAPForTCProxyHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>